* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    margin: 0 10px;
}

.column{
    float: left;
    width: 50%;
}

.menu{
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    font-weight: 400;
    font;
}
.menu li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 5px 20px;
    text-decoration: none;

}

.content{
    height: 700px;
    padding: 100px;
    background-color: #B4D0E7;
    margin-bottom: 200px;
}

.content h1{
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 900;
}

.text-right{
    text-align: right;
}

.px-20{
    padding: 0 20px;
}

.text-class1{
    display: inline-block;
    font-weight: 600;
    margin-right: 100px;
    margin-bottom: 40px;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

#jumbo{
    max-width: 800px;
}

.arrow{
    text-align: left;
    font-size: 50px;
}

.pr{
    padding-top: 20px;
}

.pb{
    padding-bottom: 30px;
}

main{
    width: 1200px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

main div h2{
    font-size: xx-large;
}

.margin-right{
    margin-right: 50px;
}

.circle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #d0d0d3;
}

.select{
    border: 5px solid #0061FF;
}
.option{
    margin-bottom: 20px;
}

.column2{
    float: left;
    width: calc((100% / 3) - 60px);
    height: 1500px;
    border: 2px solid #d0d0d3;
}

.user1{
    padding: 10px;
}

.section1{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.price{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.time{
    margin-bottom: 40px;
    font-weight: lighter;
}

.list{
    list-style-type: none;
}

.button2{
    background-color: #0061FF;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-70{
    margin-bottom: 70px;
}

.line{
    width: 25%;
}

.fa-check{
    color: #0061FF;
    margin-right: 10px;
}

.margin{
    margin: 0 30px;
}