* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    margin: 0 10px;
}

.column{
    float: left;
    height: 80px;
}

.menu{
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;

}
.menu li{
    display: inline-block;
}

a{
    text-decoration: none;
    margin: 0 10px;
}