* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    margin: 0 10px;
}

.column{
    float: left;
    width: 50%;
}

.menu{
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    font-weight: 400;
    font;
}
.menu li{
    display: inline-block;
}

a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 5px 20px;

}

.content{
    height: 700px;
    padding: 100px;
    background-color: #B4D0E7;
}

.content h1{
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 900;
}

.text-right{
    text-align: right;
}

.px-20{
    padding: 0 20px;
}

.text-class1{
    display: inline-block;
    font-weight: 600;
    margin-right: 100px;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

#jumbo{
    max-width: 800px;
}